{
  "people": [
    {
      "name": "Johannes Alneberg",
      "handle": "johannes",
      "initials": "JA",
      "active": true
    },
    {
      "name": "Jane Doe",
      "handle": "jane",
      "initials": "JD",
      "active": true
    },
    {
      "name": "John Smith",
      "handle": "john",
      "initials": "JS",
      "active": false
    }
  ]
}
